In [1]:
import pandas as pd
#import numpy as np
#from sklearn.svm import SVC
from sklearn import tree
#from sklearn.decomposition import PCA

training = pd.read_csv('C:/Users/admin/Documents/train_bt.csv')

In [2]:
training.head()

,Patient #,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [4]:
training["Monthly Frequency"] = training["Number of Donations"]/training["Months since First Donation"]

In [5]:
cols = ["Patient #", "Months since Last Donation", "Number of Donations", "Months since First Donation","Monthly Frequency"]
x = training[cols]
y = training["Made Donation in March 2007"]
x.head()

,Patient #,Months since Last Donation,Number of Donations,Months since First Donation,Monthly Frequency
0,619,2,50,98,0.510204
1,664,0,13,28,0.464286
2,441,1,16,35,0.457143
3,160,2,20,45,0.444444
4,358,1,24,77,0.311688

In [7]:
#clf = SVC(kernel='rbf',C=1.0,shrinking=True)
#clf.fit(x,y)
#pca = PCA().fit(x)
#print(pca.explained_variance_ratio_)
clf = tree.DecisionTreeClassifier().fit(x,y)
a = clf.score(x,y)